.input {
    height: 30px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    background-color: #fff;
}

.label {
    display: flex;
    align-items: center;
    width: 100%;
}

.labelText {
    width: 100px;
}