.Select_box_30XFAtiv0jUGzA21dQ9RSg {
    height: 30px;
    width: 100%;
    text-align: left;
    background-color: #fff;
}

.Input_input_JOAm_MoK5qS69nJyIQ_vV {
    height: 30px;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    background-color: #fff;
}

.Input_label_3Fz-qw_A7mxYSc6c5lilP7 {
    display: flex;
    align-items: center;
    width: 100%;
}

.Input_labelText_2C_1akR9nchdeVCkdyTudC {
    width: 100px;
}
.Condition_conditionSelect_2emg7G5_Vd0z_G0kZEFk59 {
    width: 165px;
    margin-left: auto;
}
.Condition_radioSelect_kmoo__rI7REFeKd_5sT_X {
    width: 125px;
    margin-left: auto;
}

.Condition_input_tjmq8_PsvaURGyccRvbbT {
    width: 125px;
    margin-left: auto;
}
.Buttons_formButton_cIQUlFVQI0pYrhi86UKCL {
    height: 35px;
    width: 120px;
    font-size: 15px;
    margin: 10px;
    border: none;
    border-radius: 7px;
}
.Buttons_formButton_cIQUlFVQI0pYrhi86UKCL:focus {
    outline:none;
  }
.Buttons_formButton_cIQUlFVQI0pYrhi86UKCL:hover {
    cursor: pointer;
}

.Buttons_addButton_1jrb24iSd9yvGFKOJ_nqTq {
    background-color: #97e269;
}
.Buttons_addButton_1jrb24iSd9yvGFKOJ_nqTq:hover {
    background-color: #7eca4e;
}

.Buttons_deleteButton_299fP6AohEpfd3ROBrqRbE {
    background-color: #e9967a;
}
.Buttons_deleteButton_299fP6AohEpfd3ROBrqRbE:hover {
    background-color: #dd7856;
}

.Form_container_2HdoZhJCBs5cXXq9KCPrQZ {
    width: 410px;
    border: 2px solid #ababab;
    margin-bottom: 20px;
    list-style-type: none;
    background-color: #f3f3f3;
}

.Form_formBox_1BSpTyBoMl0lEWc8pfr6if {
    padding: 12px;
}

.Form_formBox_1BSpTyBoMl0lEWc8pfr6if > * {
    margin: 3px;
    display: flex;
    align-items: center;
}

.Form_label_2zNhUVlf5Ex6zBbqI32y0X {
    width: 100px;
}
.FormTree_subTree_nbsybgYDPf85DQwp5189h {
    border-left: 1px solid #999999;
}

body {
    margin: 0;
}
.App_mainPage_3x6O9PLccsZ1cZkRs7bYeb {
    min-height: 100vh;
    background-color: #e8e8e8;
    font-family: Arial, sans-serif;
    padding: 30px;
}
