.subList {
    border-left: 1px solid #ababab;
}

.addFormButton {
    height: 35px;
    width: 120px;
    background-color: #97e269;
    font-size: 15px;
    border-radius: 7px;
    border: none;
}
.addFormButton:focus {
    outline:none;
  }
.addFormButton:hover {
    cursor: pointer;
    background-color: #7eca4e;
}
